*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.banner-area {
  width: 100%;
  height: 100vh;
  background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(MASTER-BEDROOM22.jpg);
  background-size: cover;
}
.logo {
  float:left;
  font-family: Arial;
  position: relative;
  left: 5%;
  top: 2%;
}
.links {
  float: right;
  font-family: Arial;
  position: relative;
  right: 5%;
}
a {
  font-family: Arial;
  text-decoration: none;
  color: white;
}
a:hover {
  color: #FC997C;
}
.welcome {
  font-family: "Brush Script MT";
  font-size: 500%;
  color: #FFBF86;
  text-align: center;
}
.sub{
  font-family: "Arial";
  font-size: 200%;
  color: #FFBF86;
  text-align: center;
}
.main-head{
  color: #FC997C;
  text-align: center;
  font-size: 270%;
  font-family: Arial;
}
.main-subs{
  font-size: 120%;
  color: grey;
  font-family: "Times New Roman";
  max-width: 20em;
  text-align: center;
}
.content{
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
hr {
  border-width: 8px;
  width: 5%;
  border-style: dotted none none;
  border-color: #FF9292;
}
.texts {
  font-size: 140%;
  color: grey;
  font-family: arial;
  text-align: center;
}
.other-links {
  color: #064663;
  font-style: italic;
}
footer {
  background-color: #89B5AF;
  text-align: center;
  height: 10%;
  font-size: 100%;
  font-family: Arial;
  color: black;
}
.accounts {
  color: black;
  font-family: Arial;
}
#logo {
  background: none;
  border-radius: 50%;
}
